html {
    background-image: url(../images/image1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100%;
    background-color:black;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    margin: 50px;
    
}

